header{
  position: relative;
  background-color: #fff;
}
.header_top_wrap{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  width: 100%;
  div{
    display: inline-block;
  }
}

.header_nav{
  width: 100%;

  background-color: #176bcb;
  nav{
    ul{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      height: 53px;
      flex-wrap: wrap;
      li{
        margin-right: 40px;
        &:last-child{
          margin-right: 0;
        }
        a{
          color: #ffffff;

          font-size: 16px;
          font-weight: 500;

          text-transform: uppercase;
          &:hover{
            color: #ffdf00;
          }
        }
      }
    }


  }
}


.sing_in{
  color: #176bcb;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  &:hover{
    color: #103b76;
  }
}
.language-select {
  position: absolute;
  z-index: 20;
  background-color: #fff;
  padding: 0px 10px;
  width: 150px;
  text-align: center;
  left: 0;


  &.active {
    > .language {
      display: block;
    }
    .active {
      display: none;
    }
  }
}

.language {
  display: none;


  a {
    display: flex;
    color: #176bcb;
    align-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.flag {
  display: inline-block;


  margin-right: 0.5em;
}
.current-language {
  display: flex!important;
  justify-content: center;
  align-items: center;
  color: #176bcb;
  > * + * {
    margin-left: 10px;
  }

  i {
    transition: 0.3s;
    font-size: 11px;

  }
}
.open i {
  transition: 0.3s;
  transform: rotate(180deg);
}
.language{
  position: relative;
  width: 150px;
}
// Nav Trigger

.nav-trigger {
  width: 50px;
  height: 50px;

  position: relative;
  background: transparent;
  border: none;
  vertical-align: middle;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  top: 22px;
  margin-left: 10px;
  display: none;
  &:focus {
    outline: 0;
  }
  &:hover {
    span,
    span:before,
    span:after {
      background: #176bcb;
    }
  }
  &:before {
    content: '';
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  span {
    display: block;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
    }
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }
  span,
  span:before,
  span:after {
    width: 100%;
    height: 4px;
    background: #176bcb;
    color: #176bcb;
    transition: all 0.4s ease;
  }
  &.is-active {
    &:before {
      opacity: 1;

      background: #fff;
    }
    span {
      background: transparent;
      &:before {
        top: 0;
        transform: rotate(225deg);
      }
      &:after {
        bottom: 0;
        transform: rotate(-225deg);
      }
    }
  }
}
.header_logo{
  img{
    width: 250px;
  }
}