@import "vars";

@media only screen and (max-width: 1200px) {
  .main_getting_item {

    height: auto;
  }
  .thema_item img {

    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .thema_sort_header .btn{
    margin-bottom: 10px;
  }
  .why_start_right_wr {
    width: 100%;
  }
  .why_inf .why_inf_img img {

    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 599px;
  }
  .why_start_right_wr p {
    color: #fff;
    font-size: 16px;
  }
  .why_start_right_wr p {

    font-size: 16px;
  }

}
@media only screen and (max-width: 992px) {
  .header_nav{
    display: none;
  }
  .nav-trigger{
    display: inline-block;
  }
  .header_nav nav ul {

    height: 68px;
  }
  .language a b{
    display: none;
  }
  .language-select {

    width: 40px;
    left: -5px;

  }
  .language {
    position: relative;
    width: 40px;
  }
  .current-language>*+* {
    margin-left: 0;
  }
  .button.yellow.free:before {

    right: 0;
    width: 100%;
    top: inherit;
    bottom: -29px;
  }
  .button.blue.free:before {

    right: 0;
    width: 100%;
    top: inherit;
    bottom: -29px;
  }
  .button{
    border-radius: 0;
  }
  .main_instruction_item>span {
    position: absolute;
    left: 0;
    top: 22px;
    color: #ffff;
    width: 163px;

    background-color: rgba(0, 0, 0, 0.79);
    padding: 6px 10px;
  }
  .main_text {

    background-attachment: inherit;
  }
  .main_text_wr {
    width: 100%;
    height: 100%;
    padding: 35px 0 74px;
  }
  .why_counter_item{
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .why_counter_item img {
    margin: 0 0 20px;
  }
  .counter_wr {

    text-align: center;
    justify-content: center;
  }
  .why_counter_item .why_counter_item_inf p {


    text-align: center;
  }
  .why_start_left{
    display: none;
  }
  .why_start_right {
    width: 100%;

  }
  .price_item{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .price_item_main p{
    height: 100%;
    min-height: 100%;
    margin-bottom: 40px;
  }
  .menu-link{
    display: inline-block;
    margin-bottom: 20px;
  }
  ul.lk_menu{
    margin: 20px 0 50px;
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .price_item_main {
    padding: 32px 25px;
  }
  .main_text_wr .title {
    font-size: 34px;
  }
  .main_text_wr p {
    font-size: 28px;
  }
  .main_text_wr ul li {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
  }
  .main_text_wr ul li i {
    font-size: 22px;

    top: 2px;

  }
  .page .page_name {
    height: auto;
    padding: 30px 15px;
  }
  .button {
    outline: 0!important;
    width: 100%;
    height: 57px;
  }
  .header_logo{
    img{
      width: 123px;
    }
  }
  section h2 {
    color: #555;
    font-size: 25px;
  }
  .footer_bottom_wr {
    height: auto;
    padding: 20px 0;
    width: 100%;
    flex-direction: column;
  }
  .main_getting_item a{
    flex-direction: column;
  }
  .footer_top ul{
    margin-bottom: 10px;
  }
  .header_nav nav ul {
    padding: 20px;
    height: auto;
    flex-direction: column;
  }
  .header_nav nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer_top {

    padding: 26px 5px;
  }
  .footer_top span {

    margin-bottom: 0;
  }
  .button.blue {

    font-size: 19px;
  }
  .button.yellow {

    font-size: 19px;
  }
  .thema_item {
    width: 100%;
    display: block;
    width: 262px;
    position: relative;
    margin: 0 auto 20px;
  }
  .why_counter {

    padding: 30px 0;
  }
  .why_counter_item{
    margin-bottom: 40px;
  }
  .page .page_name h1 {
    font-size: 40px;
  }
  .page .page_name span {

    font-size: 23px;
    font-weight: 500;
    display: block;
  }

}
@media only screen and (max-width: 359px) {
  .sing_in {
    color: #176bcb;
    margin-left: 10px;
    font-size: 12px;
  }
  .header_logo img {
    width: 116px;
  }

  .sing_in {
    color: #176bcb;
    margin-left: 0;

  }
  .footer_top ul li a {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0px;
  }
}