.main_text{
  display: block;
  width: 100%;

  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  top;
  background-attachment: fixed;

}
.main_text_wr{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 113px);
  .title{
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
  }
  p{
    font-size: 48px;
    font-weight: 400;
    color: #ffdf00;
    line-height: 1.3;
    margin-bottom: 40px;
  }
  ul{
    margin-bottom: 10px;
    li{
      font-weight: 400;
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
      i{
        font-size: 33px;
        margin-right: 10px;
        top: 4px;
        position: relative;
      }
    }
  }
}
section{
  padding: 50px 0;
  h2{
    color: #555555;

    font-size: 36px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 40px;
    text-align: center;
  }
  .title{
    color: #176bcb;
    text-align: center;
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
  }
}

.main_why{
  display: block;
  width: 100%;
  &.features{
    .main_why_item{
      margin-bottom: 40px;
    }
  }
  .main_why_item{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .main_why_item_img{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-bottom: 30px;
      height: 100px;
      margin-top: 15px;

      img{
        width: 80px;
        max-height: 100px;
        transition: transform .4s ease;
      }
    }
    a{

      display: block;
      &:hover{
        img{
          transform: scale(1.2);
        }
      }
      span{
        color: #176bcb;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    div.feature_why{

      display: block;
      &:hover{
        img{
          transform: scale(1.2);
        }
      }
      span{
        color: #176bcb;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    p{
      font-size: 15px;
      text-align: center;
    }

  }
}

.main_getting{
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  top;
}
.main_getting_item{
  width: 100%;
  height: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .title{
    font-size: 36px;
    font-weight: 600;
    color: #176bcb;
    margin-bottom: 30px;
    line-height: 1.1;
    text-align: left;
  }
  p{
    font-size: 16px;
    margin-bottom: 30px;
  }
  a{
    font-size: 36px;
    font-weight: 600;
    color: #176bcb;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-top: 15px;
    &:hover{
      color: #ffdf00;
    }
    span{

      color: #176bcb;

      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      padding: 0 15px;
      display: inline-block;
      margin-left: 20px;
      height: 27px;
      border-radius: 2px;
      background-color: #ffdf00;
      position:relative;
      top: 3px
    }
  }
}

.main_start{
  width: 100%;
  background-color: #f6f7fb;
  .button.blue{
    margin: 20px auto;
  }

}
.main_start_item{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
  img{
    width: 50px;
    max-height: 100px;
    transition: transform .4s ease;
    margin-right: 20px;
    margin-top: 3px;
  }
  p{
    font-size: 15px;

  }
  span{
    font-size: 22px;
    font-weight: 400;
    color: #176bcb;

    display: block;
    margin-bottom: 10px;
    line-height: 1;


  }
}

.main_instruction{
  position: relative;
}
.main_instruction_item{
  position: relative;
  img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: right;
  }
  >span{
    position: absolute;
    left: 30px;
    top: 30px;
    color: #ffff;
    width: 140px;
    display: flex;

    span{
      display: inline-block;
      font-size: 40px;
      margin-right: 10px;
      line-height: 1;
    }
    p{
      line-height: 1.2;
    }

  }
}
.main_create{
  h2{
    margin-bottom: 20px;
  }
  .main_create_form{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    input{
      height: 63px;
      border-radius: 3px;
      background-color: #f6f7fb;
      width: 100%;
      border: none;
      margin-bottom: 15px;
      text-align: center;
      padding: 0 15px;
      font-size: 24px;
      line-height: 63px;
    }
  }
}
.main_text_wr .title{
  text-align: left;
}