.customers_item{
  height: 163px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.customers{
  padding-top: 30px;
  padding-bottom: 80px;
  width: 100%;
  background-color: #f6f7fb;
}