<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <span>PRODUCTS</span>
                    <ul>
                        <li><a href="#">Storage</a></li>
                        <li><a href="#">Hosting</a></li>
                        <li><a href="#">Management tools</a></li>
                        <li><a href="#">Identity and Security</a></li>
                        <li><a href="#">Integrated SMS Solution</a></li>
                        <li><a href="#">Integrated Email Marketing</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <span>LEARN MORE</span>
                    <ul>
                        <li><a href="#">Why Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <span>ENGAGE</span>
                    <ul>
                        <li><a href="#">Start for Free</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Marketing Training</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <span>FOLLOW US</span>
                    <ul>

                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i> Google +</a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i> Pinterest</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="footer_bottom_wr">
                <a href="#" class="footer_logo">
                    <img src="img/logo_f.svg" alt="">
                </a>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="all_pages">
    <div class="page_point"></div>
    <ul class="page_list">
        <li><a href="index.html">Home</a></li>
        <li><a href="thema.html">Themes</a></li>
        <li><a href="why.html">Why US</a></li>
        <li><a href="customers.html">Customers</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="manag.html">Management Tools</a></li>
        <li><a href="host.html">Hosting</a></li>

    </ul>
</div>


<script src="js/scripts.min.js"></script>
<script src='http://workxplay.net/pamcylab/mixitup/3.1.7/mixitup.min.js'></script>


<script src="js/common.js"></script>


</body>
</html>