<header>
    <div class="header_top">
        <div class="container">
            <div class="header_top_wrap">
                <a href="#"  class="header_logo"><img src="img/logo.png" alt=""></a>
                <div>
                    <div class="language">
                        <div class="current-language language"></div>
                        <ul class="language-select">
                            <li class="language active"><a href=""><span class="flag"><img src="img/flag.jpg" alt=""></span><b>English </b> </a></li>
                            <li class="language"><a href=""><span class="flag"><img src="img/flag.jpg" alt=""></span><b>Language 2</b></a></li>
                            <li class="language"><a href=""><span class="flag"><img src="img/flag.jpg" alt=""></span><b>Language 3</b></a></li>
                        </ul>
                    </div>

                    <a href="#" class="sing_in">Sign In</a>
                    <a href="#" class="nav-trigger" >
                        <span></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="header_nav">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Why Us</a></li>
                    <li><a href="#">Features </a></li>
                    <li><a href="#">Themes</a></li>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Start Now</a></li>
                </ul>
            </nav>
        </div>

    </div>

</header>