<header>
    <div class="header_top">
        <div class="container">
            <div class="header_top_wrap">
                <a href="#"  class="header_logo"><img src="img/logo.png" alt=""></a>
                <div>
                    <i class="fal fa-address-book"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="header_nav">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Why Us</a></li>
                    <li><a href="#">Features </a></li>
                    <li><a href="#">Themes</a></li>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Start Now</a></li>
                </ul>
            </nav>
        </div>

    </div>

</header>